<div class="row center-text">
	<div class="col-xs-12">
		<h2>Verify Insurance</h2>
		<p><strong>Peaks Recovery Centers</strong> are out-of-network providers and work with most insurance PPO plans. Please submit your insurance information below and a representative from our company will contact you within 24-hours regarding your insurance benefits. If you are interested in cash payment options please contact our admissions line directly at <a href="tel:18885069818">1-888-506-9818</a>.</p>
		<p><a class="button blue" href="recovery-program/admissions/verify-insurance/">VERIFY NOW</a></p>
	</div>
</div>

<hr style="width: 50%;">

<div class="row">
	<div class="col-xs-12">
		<div class="insurance-logos">
			<img src="http://res.cloudinary.com/dbc2wlvk8/image/upload/c_fill,fl_any_format.lossy,w_150/v1481331912/peaks/peaks-centers/United-Health-Peaks.jpg">
			<img src="http://res.cloudinary.com/dbc2wlvk8/image/upload/c_fill,fl_any_format.lossy,w_150/v1481331944/peaks/peaks-centers/cigna-insurance-peaks.jpg">
			<img src="http://res.cloudinary.com/dbc2wlvk8/image/upload/c_fill,fl_any_format.lossy,h_38,w_175/v1481331912/peaks/peaks-centers/health-net-insurance.jpg">
			<img src="http://res.cloudinary.com/dbc2wlvk8/image/upload/c_fill,fl_any_format.lossy,w_150/v1481331912/peaks/peaks-centers/humana-logo-peaks.jpg">
			<img src="http://res.cloudinary.com/dbc2wlvk8/image/upload/c_fill,fl_any_format.lossy,w_150/v1481331912/peaks/peaks-centers/aetna-insurance-peaks.png">
		</div>
	</div>
</div>
