<div class="side-menu">
	<h3>Mental Health</h3>
	<ul>
		<li><a href="../dual-diagnosis/">Dual Diagnosis</a></li>
		<li><a href="../trauma/">Trauma Disorder</a></li>
		<li><a href="../bipolar-disorder/">Bipolar Disorder</a></li>
		<li><a href="../anxiety/">Anxiety Disorder</a></li>
		<li><a href="../depressive-disorders/">Depressive Disorder</a></li>
	</ul>
	<div class="contact-widget">
		<a href="tel:18885069818">
			<p>Call Today</p>
			<p><strong>1.888.506.9818</strong></p>
			<p>A Caring Recovery</p>
		</a>
	</div>
	<div class="brochure-widget">
		<a href="http://res.cloudinary.com/dbc2wlvk8/image/upload/v1481507027/peaks/PeaksBrochure.pdf" target="_blank">
			<p>Learn More</p>
			<p>See Our Brochure</p>
		</a>
	</div>
	<div class="brochure-widget">
		<a href="/admissions/verify-insurance/" target="_blank">
			<p>Are You Insured?</p>
			<p>Verify Insurance Here</p>
		</a>
	</div>
</div>
