<div class="side-menu">
	<h3>Treatment Philosophy</h3>
	<ul>
		<li><a href="../gender-specific/">Gender Specific</a></li>
		<li><a href="../group-and-individual-therapy/">Group/ Individual Therapy</a></li>
		<li><a href="../accountability-12-steps/">Accountability / 12 Steps</a></li>
		<li><a href="../life-skills/">Life Skills</a></li>
		<li><a href="../family-support/">Family Support</a></li>
		<li><a href="../after-care/">After Care</a></li>
	</ul>
	<div class="contact-widget">
		<a href="tel:18885069818">
			<p>Call Today</p>
			<p><strong>1.888.506.9818</strong></p>
			<p>A Caring Recovery</p>
		</a>
	</div>
	<div class="brochure-widget">
		<a href="http://peaksrecovery.com/recovery-program/admissions/verify-insurance/" target="_blank">
			<p>Are You Insured?</p>
			<p>Verify Insurance Here</p>
		</a>
	</div>
</div>
