<div class="side-menu">
	<h3>Recovery Program</h3>
	<ul>
		<li><a href="../admissions/admissions-process/">Admissions</a></li>
		<li><a href="../mens-program/">Mens Program</a></li>
		<li><a href="../womens-program/">Womens Program</a></li>
		<li><a href="../staff/">Staff</a></li>
		<li><a href="../our-facilities/">Our Facilities</a></li>
	</ul>
	<div class="contact-widget">
		<a href="tel:18885069818">
			<p>Call Today</p>
			<p><strong>1.888.506.9818</strong></p>
			<p>A Caring Recovery</p>
		</a>
	</div>
</div>
